/* css sheet for launch services llc website */

/* color theme: #062655, #b19c81, #4079cb */


/* global */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

html, body {
    line-height: 1.7em;
}

p {
    margin: 10px, 0;
}

h1, h2, h3 {
    padding-bottom: 20px;
}


/* utilities */

.container {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0, 20px;
}

.btn {
    display: inline-block;
    color: white;
    background-color: #b19c81;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.dark-btn {
    background-color: #062655;
    color: white;
}

/* clear floats */

.clr {
    clear: both;
}



/* navbar */

#navbar {
    background-color: #264778;
    max-height: 200px;
}

#logo {
    display: inline;
    padding-bottom: 0;
}

#navbar img {
    max-width: 25%;
    display: inline;
    padding-top: 15px;
    padding-bottom: 10px;
}

#navbar ul {
    float: right;
    padding-top: 40px;
    padding-right: 20px;
    height: 50px;
}

#navbar ul li {
    display: inline;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #b19c81;
}

#navbar a {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}


/* home page */

/* showcase */

#showcase {
    position:relative;
    background-image: url('/img/friends_blue_bright.jpg') no-repeat center center/cover;
    height: 600px;
}

#showcase .showcase-content {
    color: #062655;
    text-align: center;
    background-color: #b19c8185;
    margin-top: 150px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#showcase .showcase-content h1 {
    font-size: 70px;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.2em;
    text-shadow: #ffffff90 2px 2px;
    padding-left: 20px;
    padding-right: 20px;
}

#showcase .showcase-content h1 span {
    color: #4079cb;
}

#showcase a {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    font-size: xx-large;
}
