/* css sheet for launch services llc website */

/* color theme: #062655, #b19c81, #4079cb */

/* variables */

:root {
    --primary-color: #062655;
    --secondary-color: #b19c81;
    --secondary-color-clear: #b19c8190;
    --accent-color: #4079cb;
    --accent-color-2: #264778;
}

/* global */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}


html, body {
    line-height: 1.7em;
}

p {
    margin: 10px, 0;
}

h1, h2, h3 {
    padding-bottom: 20px;
}


/* utilities */

.container {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0, 20px;
}

.btn {
    display: inline-block;
    color: white;
    background-color: var(--accent-color);
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.dark-btn {
    background-color: var(--primary-color);
    color: white;
}

/* clear floats */

.clr {
    clear: both;
}



/* navbar */

#navbar {
    background-color: var(--accent-color-2);
    max-height: 200px;
}

#navbar a {
    background-color: var(--accent-color-2);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

#navbar a:hover {
    background-color: var(--accent-color);
}

a.current {
    background-color: var(--accent-color) !important;
}

#logo {
    display: inline;
    padding: 0 !important;
}

#logo:hover {
    background-color: var(--accent-color-2) !important;
}

#navbar img {
    max-width: 25%;
    display: inline;
    padding-top: 15px;
    padding-bottom: 10px;
}

#navbar ul {
    float: right;
    padding-top: 60px;
    padding-right: 20px;
    height: 50px;
}

#navbar ul li {
    display: inline;
    float: left;
    padding: 0;
    background-color: #4079cb;
}

#navbar a {
    color: white;
}

/* footer */

#footer {
    text-align: center;
    font-size: large;
    background-color: var(--accent-color-2);
    color: white;
    height: 100px;
    padding: 40px;
}




/* home page */

/* showcase */

#showcase {
    position:relative;
    background: url('../img/friends_blue_bright.jpg') no-repeat center center/cover;
    height: 600px;
}

#showcase .showcase-content {
    color: var(--primary-color);
    text-align: center;
    background-color: var(--secondary-color-clear);
    margin-top: 150px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#showcase .showcase-content h1 {
    font-size: 70px;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.2em;
    text-shadow: #ffffff90 2px 2px;
    padding-left: 20px;
    padding-right: 20px;
}

#showcase .showcase-content h1 span {
    color: var(--accent-color);
}

#showcase a {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    font-size: xx-large;
}

/* mission */

#mission {
    height: 400px;
    overflow: hidden;
    background-color: var(--accent-color-2);
    color: white;
}

#mission-statement {
    max-width: 50%;
    text-align: center;
    float: left;
    line-height: 1.9em;
    padding: 5px;
}

#mission-statement h2 {
    margin-top: 100px;
    font-size: 35px;
    margin-left: 20px;
}

#mission-statement p {
    font-size: 21px;
    margin-left: 20px;
}

#management {
    max-width: 50%;
    float: right;
    overflow: hidden;
    text-align: center;
}


#management img {
    width: 60%;
    border-radius: 50%;
    margin-top: 40px;
}

/* join our family */

#join-our-family {
    height: 500px;
    text-align: center;
    padding-top: 50px;
    line-height: 1.7em;
    /* background-color: var(--secondary-color); */
    background: url("../img/downsyndrome-home_tan_dark.jpg") no-repeat top center/cover;
    color: var(--primary-color);
    overflow: hidden;
}

#join-our-family-content {
    background-color: #ffffff50;
    width: 40%;
    margin-top: 50px;
}

#join-our-family h1, #join-our-family h2 {
    font-size: 60px;
    font-weight: bold;
    text-shadow: #ffffff90 1px 2px;
}

#join-our-family h1 {
    padding-right: 50px;
    padding: 50px;
}

#join-our-family h2 {
    padding-left: 50px;
    padding-bottom: 70px;
}

#join-our-family a {
    font-size: xx-large;
    width: 200px;
    margin-bottom: 50px;
}

#join-our-family span {
    color: var(--accent-color);
}



/* staff page*/

/* staff bios */

#staff-page {
    background-color: var(--secondary-color-clear);
}

#staff-page h2 {
    padding-left: 100px;
    padding-top: 20px;
    color: var(--primary-color);
    text-shadow: white 1px 2px;
    font-size: 40px;
}

#staff-heading {
    background: url("../img/friends-meet-blue.jpg") center center/cover no-repeat;
    height: 400px;
    padding-top: 100px;
}

#staff-heading-content {
    text-align: center;
    background-color: var(--secondary-color-clear);
    max-width: 50%;
    height: 200px;
}

#staff-heading-content h1 {
    color: var(--primary-color);
    padding-top: 85px;
    font-size: 80px;
    text-shadow: white 1px 2px;
}

#staff-heading-content span {
    color: var(--accent-color);
}

.staff {
    height: 300px;
    background-color: var(--accent-color-2);
    border-top: dotted var(--secondary-color) 2px;
    padding-bottom: 50px;
    overflow: hidden;
}

.staff-img img {
    border-radius: 100%;
    float: left;
    height: 200px;
    padding: 20px;
    margin-top: 40px;
    margin-left: 20px;
}

.staff-bio {
    padding-top: 40px;
    color: white;
    max-width: 80%;
    float: right;
}

.staff-bio h3 {
    font-size: 1.5rem;
}

.staff-bio p {
    font-size: large;
}

#staff-contact-us {
    height: 400px;
    margin: auto;
    line-height: 2rem;
    background: url("../img/letters-blue.jpg") center center/cover no-repeat;
    padding-top: 65px;
}

#staff-contact-us-content {
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    background-color: var(--secondary-color-clear);
    padding-bottom: 50px;
    padding-top: 20px;
    max-width: 50%;
}

#staff-contact-us h2 {
    padding: 0;
    padding-top: 30px;
    padding-bottom: 10px;
    color: var(--primary-color);
}

#staff-contact-us span {
    color: var(--accent-color);
}

#staff-contact-us-content h3 {
    padding-bottom: 30px;
    padding-top: 15px;
    color: var(--accent-color-2);
    font-size: 2rem;
    text-shadow: white 1px 1px;
}




